<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <settings>
        <setting name="cacheEnabled" value="false"/>
        <!-- Bean 객체와 Database Table Column 자동 매핑 설정 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias type="java.lang.Integer" alias="int"/>
        <typeAlias type="java.lang.Integer" alias="Integer"/>
        <typeAlias type="java.lang.String" alias="String"/>
        <typeAlias type="java.lang.Boolean" alias="Boolean"/>
        <typeAlias type="java.lang.Boolean" alias="boolean"/>
    </typeAliases>

</configuration>